<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{role | titlecase}} - {{userEmail}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand cursor-p" (click)="logout()">Logout</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
<div class="container-box">
    <h1>Welcome</h1>
    <div class="d-flex align-items-center" style="padding:2rem">
        What would you like to do?
        <button type="button" class="btn btn-primary" style="margin-left: 2rem;" (click)="manageBooks()">Manage Books</button>
        <button type="button" class="btn btn-primary" style="margin-left: 2rem;" (click)="manageStudents()">Manage Students</button>
    </div>
</div>